apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: electricity-billing-system
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    spec:
      containers:
        - image: gcr.io/PROJECT_ID/electricity-billing-system:latest # Placeholder
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: 512Mi
              cpu: 1000m
